<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>_id</th>
      <th>nome</th>
      <th>endereco</th>
      <th>rg</th>
      <th>cpf</th>
      <th>telefone</th>
      <th>email</th>
      <th>data_nascimento</th>
      <th>responsavel</th>
      <th>medico_solicitante</th>
      <th>crm</th>
      <th>ocupacao</th>
      <th>cid</th>
      <th>pagamento</th>
      <th>empresa</th>
      <th>numero_carteirinha</th>
      <th>plano</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>64ac82e0f3ae12c9a81f2f38</td>
      <td>Gabriel da Costa Pelai</td>
      <td>Agulhas negras, 800</td>
      <td>123456</td>
      <td>12247452728</td>
      <td>123456</td>
      <td>gabrielpelaicontato@gmail.com</td>
      <td>1998-10-31</td>
      <td>None</td>
      <td>Marcelo Pelai</td>
      <td>741379</td>
      <td>Ortopedista</td>
      <td>Dor no pé</td>
      <td>plano</td>
      <td>amil</td>
      <td>23456543</td>
      <td>bradesco plus</td>
    </tr>
    <tr>
      <th>1</th>
      <td>64ac91f8c8586a338313a1c6</td>
      <td>bigode</td>
      <td>estrada das capoeira</td>
      <td>123456</td>
      <td>8765456</td>
      <td>2345673456</td>
      <td>bigodemel@gmail.com</td>
      <td>1992-12-05</td>
      <td>None</td>
      <td>Escroto</td>
      <td>741379</td>
      <td>pediatra</td>
      <td>Dor no pé</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>